
  @media (min-width: 500px) {
    .wrapper {
      display: flex;
      grid-template-columns: 100px 1fr;
      grid-gap: 20px;
    }
  
    /* keeps search bar loud and proud */
    aside {
        width: 50%;
        float: left;
      align-self: start;
    }
    
  }



/* this is for the added buttons, needs lil more styling and or need to figure out materialize for this
also, need to figure out how to get the buttons to be styled on arrival, and not after refresh */
.color {
  background-color: #eba6eb;
  font: Arial;
  color: blueviolet;
  font-size: 16px;
  border: none;
}





