
  @media (min-width: 700px) {
    .wrapper {
      display: flex;
      grid-template-columns: 1600px 1fr;
      grid-gap: 16px;
    }
  
    aside {
        width: 40%;
        float: left;
      align-self: start;
    }
  } 









